* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    height: 420px;
    padding: 10px 0px;
}

.flex_container {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20% 10px;
}

.container_blue {
    background-color: blue;
    height: 350px;
    padding: 20px 300px;

}

.container_pink {
    background-color: pink;
    max-width: 1800px;
    height: 100%;
}

.grey {
    background-color: grey;
    padding: 20px 0px
}

.flex_container2 {
    display: flex;
    justify-content: center     ;
}

.image1 {
    background-color: cornflowerblue;
    width: 700px;
    height: 500px;  
}

.text1 {
    background-color: blanchedalmond;
    height: 500px;
    width: 400px;
}

.flex_container3 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.container_green {
    background-color: darkgreen;
    height: 700px;
    width: 1100px;
    margin: auto;
}

.black {
    background-color: rgb(38, 38, 38); 
    padding: 10px 150px;
}

.container_pink2 {
    background-color: crimson;
    border-style: dotted;
    height: 500px;
    width: 30%;
}

.container_green2 {
    background-color: darkseagreen;
    border-style: dotted;
    height: 500px;
    width: calc(60% / 4)
}

.container_black {
    background-color:rgb(38, 38, 38);
    margin: 1px 1px;
    padding: 5px 200px 0px;
}

.flex_container4 {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: auto;
    
}

.footer_item {
    background-color: crimson;
    padding: 2px;
}