* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    height: 420px;
}

.flex_container {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

