* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    height: 420px;
    padding: 10px 0px;
}

.flex_container {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20% 10px;
}

.container_blue {
    background-color: blue;
    height: 350px;
    max-width: 1800px;
    padding: 20px 300px;

}

.container_pink {
    background-color: pink;
    max-width: 1800px;
    height: 100%;
}

.image1 {
    background-color: cornflowerblue;
    width: 500px;
    
}